<div class=" title-logo   hidden-xs">
			<div class="container">
				<div class="row">
					<div class="logo col-sm-6 col-xs-12">
						<a href="${base}/">
							<h1><img alt="error" style="width:50px;height:50px;" src="/regex-admin-web/RES/images/logo_211.png"><i>&emsp;|&emsp;${webInfo.header}</i></h1>
						</a>
					</div>
					<div class="top-phone col-sm-6">
						<div class="con-phone">
							<span>全国服务热线</span>
							<p>${webInfo.tel}</p>
						</div>
						<div class="phone-icon">
							<span class="glyphicon glyphicon-phone-alt"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default">
			<div class="container">
				<a href="${base}/" class="hidden-sm hidden-md hidden-lg pull-left mobile-logo">
					<h1><img alt="error" style="width:30px;height:30px;" src="/regex-admin-web/RES/images/logo_211.png"><i>&emsp;|&emsp;${webInfo.header}</i></h1>
				</a>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				   </button>
				</div>
				<div class="collapse navbar-collapse " id="bs-example-navbar-collapse">
					<ul class="nav navbar-nav" style="width:100%;">
						<li class="active nav-top">
							<a href="${base}/">首页</a>
						</li>
						<li class="dropdown nav-top">
							<a href="${base}/aboutUs/detial_1.htm" class="dropdown-toggle on" data-toggle="dropdown">关于我们</a>
						</li>
						<li class=" nav-top dropdown">
							<a href="#" class="dropdown-toggle on">作品案例</a>
						</li>
						<li class=" nav-top dropdown">
							<a href="${base}/news/show_1.htm" class="dropdown-toggle on">新闻中心</a>
						</li>
						<li class=" nav-top dropdown">
							<a href="${base}/recruit/show.htm" class="dropdown-toggle on">人才招聘</a>
						</li>
						<li class=" nav-top dropdown">
							<a href="${base}/contact.htm" class="dropdown-toggle on">联系我们</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="line theme"></div>

		<div id="ad-carousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<#list bannerList as banner>
				<li data-target="#ad-carousel" data-slide-to="${banner_index}" <#if banner_index==0> class="active"</#if>></li>
				</#list>
				<!-- <li data-target="#ad-carousel" data-slide-to="1"></li>
				<li data-target="#ad-carousel" data-slide-to="2"></li> -->
			</ol>
			<div class="carousel-inner">
				<!-- 待修改 -->
				<#list bannerList as banner>
				<div class="item <#if banner_index==0> active</#if>">
					<img src="/regex-admin-web/${banner.bannerUrl}">
				</div>
				</#list>
				<!-- <div class="item">
					<img src="/regex-admin-web/RES/web/images/banner/banner3.jpg">
				</div>
				<div class="item">
					<img src="/regex-admin-web/RES/web/images/banner/banner3.jpg">
				</div>
				<div class="item">
					<img src="/regex-admin-web/RES/web/images/banner/banner3.jpg">
				</div> -->
			</div>
			<a class="left carousel-control" href="#ad-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#ad-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>